<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="MonitoredPath" value="C:\iron\investigation\iron-37\36893\notOk"/>
		<add key="SavePath" value="C:\iron\investigation\iron-37\36893\"/>
		<add key="ZipName" value="package_"/>
		<add key="ZipExtension" value=".zip"/>
		<add key="XlsxExtension" value=".xlsx"/>
		<add key="XlsmExtension" value=".xlsm"/>
		<add key="HFFSXlsExtension" value=".xls"/>
	</appSettings>
</configuration>